[submodule "vendors/mbedtls"]
	path = vendors/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "vendors/openssl"]
	path = vendors/openssl
	url = https://github.com/openssl/openssl
[submodule "vendors/swon"]
	path = vendors/swon
	url = https://github.com/keeshux/swon
