.DS_Store
*.swp
*.pbxuser
**/*.xcodeproj/project.xcworkspace
**/xcuserdata
**/.swiftpm/xcode
Package.resolved
.build
/prebuilts/
.cmake*
bin
cross-models
PartoutNative.xcframework

# Zig
/.zig-cache/
/zig-out/
