[submodule "vendors/mbedtls"]
	path = vendors/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
[submodule "vendors/openssl"]
	path = vendors/openssl
	url = https://github.com/openssl/openssl
[submodule "vendors/core"]
	path = vendors/core
	url = git@github.com:partout-io/partout-core.git
